<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <logger name="net.shibboleth.idp.test" level="TRACE" />
    
    <logger name="org.openqa" level="DEBUG" />
    <logger name="com.saucelabs" level="DEBUG" />

    <!-- Jetty logger must be INFO or finer to read its log file during startup.  -->
    <logger name="org.eclipse.jetty" level="INFO" />

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>%level [%logger:%line] - %msg%n</pattern>
            <charset>UTF-8</charset>
        </encoder>
    </appender>

    <root>
        <level value="INFO" />
        <appender-ref ref="STDOUT" />
    </root>

</configuration>